<?xml version='1.0' encoding='utf-8'?>
<plugin id="org.mskcc.bedfont" version="1.0.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>msk-bedfont-plugin</name>

    <engines>
        <engine name="cordova" version=">=3.2.0" />
    </engines>
    <js-module name="msk-bedfont-plugin" src="www/msk-bedfont-plugin.js">
        <clobbers target="cordova.plugins.bedfont" />
    </js-module>


    <preference name="NSBLUETOOTHALWAYSUSAGEDESCRIPTION" default="Need bluetooth to communicate with devices nearby"/>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="MSKBedfontPlugin">
                <param name="android-package" value="org.mskcc.bedfont.MSKBedfontPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/MSKBedfontPlugin.java" target-dir="src/org/mskcc/bedfont/MSKBedfontPlugin" />

        <config-file target="../../config.xml" parent="/widget">
            <custom-preference name="android-manifest/@xmlns:tools" value="http://schemas.android.com/tools" />
            <custom-preference name="android-manifest/application/@android:theme" value="@style/Theme.AppCompat.Light" />
        </config-file>

        <!-- SDK files -->
        <resource-file src="src/android/libs/iCOBluetoothsdk-2.0.0.15-release.aar" target="libs/iCOBluetoothsdk-2.0.0.15-release.aar" />
        <!-- END SDK files -->

        <!-- AndroidManifiest.xml Permissions -->
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
            <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

            <!-- Request legacy Bluetooth permissions on older devices. -->
            <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
        </config-file>
        <!-- END AndroidManifiest.xml -->


        <!-- Gradle -->
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <!-- END Gradle -->


        <dependency id="cordova-custom-config" version="^5.1.1" />

        <!-- To Handle on launch crash -->
        <!-- <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
            <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="org.mskcc.validicpluginsandbox.androidx-startup"
            android:exported="false" >
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup" />
            </provider>    
        </edit-config> -->

    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="MSKBedfontPlugin">
                <param name="ios-package" value="MSKBedfontPlugin"/>
            </feature>
        </config-file>
        <preference name="UseSwiftLanguageVersion"/>
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>

        <source-file src="src/ios/MSKBedfontPlugin.swift" />

        <!-- SDK files -->

        <framework src="src/ios/libs/SmokerlyzerSDK.xcframework/ios-arm64_arm64e/SmokerlyzerSDK.framework" embed="true" custom="true" />

        <!-- END SDK files -->

        <config-file target="*-Info.plist" parent="NSBluetoothAlwaysUsageDescription">
            <string>$NSBLUETOOTHALWAYSUSAGEDESCRIPTION</string>
        </config-file>
    </platform>


</plugin>
